nav {
  list-style-type: none;
  background-color: skyblue;
  width: 100%;
  overflow: hidden;
  position: fixed;
  text-align: center;
  left:0;
  top: 0;
  margin: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 10px;
}

li a:hover {
  background-color: antiquewhite;
  color: skyblue
}

body{
   background-color: #F0ECD0  ;
}
h3 {
  color: white;
  font-size: 400%;
    background-color: pink ;
    letter-spacing: 2px;
}
p {
  color: #F575D6;
  font-size: 200%;
}

img {
  width: 20%;
}

iframe {
  border: line 4px #445986;
}
